body {
    font-family: Arial;
    background: #f0f8ff;
    padding: 20px;
}

.container {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: #4CAF50;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}
